
body {
  background: #293f50;
  color: black;
}

.container
{
  margin: 0 auto;
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  background: #fff;
  padding: 66px 0 44px 0;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}

.name {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
	padding-top:5%;
  padding-bottom:8%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.primary-footer {
  color: #fff;
  font-size: 18px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
