
body {
  background: #293f50;
  color: black;
}

.container
{
  margin: 0 auto;
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
